@import 'colors';

.dashboard{
    background-color: $pink;
    height: 100vh;

    > main{
        height: 100%;
        max-width: 900px;
        background-color: white;
        margin: auto;

        > article{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $dark;
            padding: 2rem;

            > div{
                background-color: white;
                border-radius: 100%;
                text-align: center;
                height: 120px;
                width: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                > h3{
                    font: 800 2rem 'Roboto';
                }

                > p{
                    font: 300 1.1rem 'Roboto';
                }
            }
        }

        > section{
            display: flex;
            justify-content: space-between;
            padding: 6rem;

            > div{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                > a{
                    white-space: nowrap;
                    background-color: $dark;
                    color: white;
                    padding: 1rem;
                    width: 50%;
                    text-align: center;
                    border-radius: 10px;
                    margin: 1rem;

                    &:hover{
                        background-color: $darkRed;
                    }
                }
            }

            > aside{
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .dashboard{
        height: 80vh;

        > main section{
            > div{
                width: 40%;
            }
            > aside{
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .dashboard{
        height: auto;
        > main{
            > article{
                padding: 1rem 5px;

                > div{
                    height: 100px;
                    width: 100px;

                    > h3{
                        font: 500 1.5rem 'Roboto';
                    }
                }
            }

            > section{
                padding: 1rem;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                > div{
                    width: 100%;
                    flex-direction: row;
                }

                > aside{
                    width: 100%;
                    margin: 3rem 0;
                }
            }
        }
    }
}