@import "colors";

.founder {
  overflow-x: hidden;
  height: 80vh;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    > img {
      border-radius: 100%;
    }

    > h3 {
      font-size: 1.3rem;
      padding: 2rem 0 1rem 0;
    }

    > p {
      letter-spacing: 3px;
      font-size: 0.8rem;
      line-height: 200%;
    }
  }
}
