@import 'colors';

.orderDetails{
    background-color: $pink;
    >main{
        max-width: 900px;
        margin: auto;
        background-color: white;
        padding: 2rem;
        // overflow-x: auto;

        > h1{
            margin: 3rem;
            font: 100 3rem 'Roboto';
            text-align: center;
            text-transform: uppercase;
        }

        > div{
            margin: 2rem 0;
            text-align: center;

            > h1{
                text-transform: uppercase;
                letter-spacing: 5px;
                font-size: 1.8rem;
            }

            > p{
                font-weight: 200;
                letter-spacing: 2px;
                margin: 2rem;

                > b{
                    margin-right: 5px;
                }
            }


        }
        > article{
            > h1{
                font-size: 1.8rem;
                text-transform: uppercase;
                letter-spacing: 5px;
                margin: 2rem 0;
                text-align: center;

            }
            >div{
                background-color: rgb(246, 246, 246);
                display: flex;
                margin: 1rem;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 10px;

                > h4{
                    font-weight: 200;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .orderDetails{
        > main > div{
            > h1{
                font-size: 1.4rem;
            }

            > p{
                font-size: 0.9rem;
                letter-spacing: 1px;
            }

        }
    }
    
}